<p>
  M ou MME ou MLLE <strong>{{ calendar.client.nom}}</strong>, vous êtes conviés à une rencontre le
  <strong>{{calendar.start|date('d-m-Y')}}</strong>
  à propos de <strong>{{calendar.title}}</strong>.
</p>
<p>Merci d'accuser réception de ce mail.</p>
